body{
  font-family: 'PT Serif Caption', serif;
  background: #ebe7e7
}

.headerWrap{
  background: #61dafb;
}

.contentWrap{
  margin-top: 50px;
}

.header{
  color: #ffffff;
  font-family: 'Russo One', sans-serif;
  font-size: 24px;
}

.header a{
  color: #ffffff;
}

.menuItem{
  margin-right: 20px;
}

.block{
  background: #ffffff; 
  box-shadow: 0 5px 10px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);
  border-radius: 7px;
  padding: 10px;
}

.creditForm{
  width: 700px;
}